body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

header {
    background-color: #005eb8;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.banner {
    text-align: center;
    margin-bottom: 20px;
}

.banner img {
    max-width: 100%;
    height: auto;
}

.banner h1 {
    font-size: 24px;
    margin: 10px 0;
    color: #004a92;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px 20px;
}

.buttons button {
    background-color: #005eb8;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #004a92;
}

.filtros {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filtros select {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 5px 5px 5px #888888;
}

.agendamentos {
    list-style: none;
    padding: 0;
}

.agendamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 5px #888888;
}

.agendamento-info {
    font-size: 16px;
}

.agendamento button {
    background-color: #005eb8;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.agendamento button:hover {
    background-color: #004a92;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: #005eb8;
    font-size: 14px;
    color: #ffffff;
}

.agendamento-info span{
    color: red;
}

.logo img{
    width: 60px;
    height: 60px;
}

.carousel {
    position: relative;
    padding: 20px 20px;
    width: 1465px;
    overflow: hidden;
    border: 2px solid #ccc;
    border-radius: 10px;
  }
  
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .carousel-item {
    min-width: 100%;
    box-sizing: border-box;
  }
  
  .carousel-item img {
    width: 100%;
    display: block;
    border-radius: 10px;
  }
  
  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
  }
  
  .carousel-control.prev {
    left: 10px;
  }
  
  .carousel-control.next {
    right: 10px;
  }