/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f5f5f5;
  color: #333;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  padding: 10px 20px;
}

header .logo img {
  height: 50px;
}

header nav {
  display: flex;
  gap: 10px;
}

main {
  flex: 1;
  display: flex;
}

/* Footer */
footer {
  text-align: center;
  padding: 10px;
  background-color: #007bff;
  color: white;
}

footer p {
  margin: 1rem 0;
}
